body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fc1e8a;
  user-select: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(325deg, #09042a 0%, #6f00a8 30%, #ec38bc 70%, #fdeff9 100%);
  padding: 40px 60px;
}

h2 {
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.reset {
  padding: 15px 20px;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: none;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.3s, background-color 0.3s;
}

.reset:focus {
  color: #ec38bc;
  background-color: #262809;
}

.game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.25s;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: hwb(50 75% 10%);
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  border-radius: 0.25rem;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}

#modal {
  position: fixed;
  display: none;
  background-color: #fff;
  font-size: 3em;
  transform: rotateY(360deg);
  transition: 0.5s;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 1rem;
}
